/* From uiverse.io by @Ali-Tahmazi99 */
scholarshipButton {
    display: inline-block;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    text-decoration: none; /* Remove underline by default */
   }
   
   scholarshipButton::before,
   scholarshipButton::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   scholarshipButton::before {
    left: -10px;
    background: #62AB00;
   }
   
   scholarshipButton::after {
    right: -10px;
    background: #333333;
   }
   
   scholarshipButton:hover::before,
   scholarshipButton:hover::after {
    width: 58%;
   }
   
   scholarshipButton:hover span {
    color: #fff;
    transition: 0.3s;
   }
   
   scholarshipButton span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }